<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
      <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="App_Data" />
          <remove segment="web.config" />
        </hiddenSegments>
        <fileExtensions>
            <remove fileExtension=".config" />
            <add fileExtension=".config" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".config" mimeType="text/xml" />
  </staticContent>
  </system.webServer>
  <location path="index.html">
	<system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
